   .dark h5{
    color: #000;
   }
   .dark h4{
        color: #000;
    }
    p{
        color: #000;

    }
           h1{ 
	        color: #000; 
	        margin-top:30px; 
        }                 
        .dark{ 
            background-color: #222; 
            color: #e6e6e6; 
        }
        .dark h1{
          color: #fff
        }
        .theme-switch-wrapper{
            display: flex;
            align-items: center;  
            float: right;                      
        }        
        .theme-switch{
	        display: inline-block;
	        height: 24px;
	        position: relative;
	        width: 36px;
	        text-align: center;
            margin-left: 10px;
            margin-top: 7px;
        }
        .theme-switch input{
        	display:none;
        }
        .slider{
	        background-color: #ccc;
	        bottom: 0;
	        cursor: pointer;
	        left: 0;
	        position: absolute;
	        right: 0;
	        top: 0;
	        transition: .4s;
        }
        .slider:before{
        	background-color: #fff;
	        bottom: 1px;
	        content: "";
	        height: 20px;
	        left: 1px;
	        position: absolute;
	        transition: .4s;
	        width: 18px;
        }
        input:checked + .slider{
        	background-color: #66bb6a;
        }
        input:checked + .slider:before{
        	transform: translateX(18px);
        }
        .slider.round{
        	border-radius: 38px;
        }
        .slider.round:before{
        	border-radius: 50%;
        }
    